<openerp>
<data>
	<record model='ir.actions.act_window' id='openacademy.courselist'>
		<field name="name">Courses</field>
		<field name="res_model">openacademy.course</field>
		<field name="view_mode">tree,form</field>
	</record>
	<record model='ir.actions.act_window' id='openacademy.sessionlist'>
		<field name="name">Sessions</field>
		<field name="res_model">openacademy.session</field>
		<field name="view_mode">tree,form,calendar,gantt,graph,pivot</field>
		<field name="context" eval="{'search_default_my_courses': 1}"/>
	</record>
	<record model='ir.actions.act_window' id='openacademy.partnerlist'>
		<field name="name">Partners</field>
		<field name="res_model">res.partner</field>
		<field name="view_mode">tree,form</field>
	</record>
	<record model='ir.actions.act_window' id='openacademy.partnercategorylist'>
		<field name="name">Partner categories</field>
		<field name="res_model">res.partner.category</field>
		<field name="view_mode">tree,form</field>
	</record>
	
	<menuitem id="topmenu" name="OpenAcademy" sequence="10"/>
	<menuitem id="topcourses" parent="topmenu" name="Courses" sequence="10"/>
	<menuitem id="menu_course_list" parent="topcourses" name="Courses" sequence="10"
	action="courselist"/>
	<menuitem id="menu_session_list" parent="topcourses" name="Sessions" sequence="10"
	action="sessionlist"/>
	<menuitem id="menu_topparams" parent="topmenu" name="Parameters" sequence="100"/>
	<menuitem id="menu_partners" parent="menu_topparams" name="Partners" sequence="10"/>
	<menuitem id="menu_partnerslist" parent="menu_partners" name="Partners" sequence="10" action="partnerlist"/>
	<menuitem id="menu_partnercategorieslist" parent="menu_partners" name="Categories" sequence="10" action="partnercategorylist"/>
</data>
</openerp>